@import '../../styles/vars';
@import 'src/styles/mixins/media';

.form {
  &__sub {
    &-wrapper {
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;

      background: #fff;
      border-radius: 30px;
      box-shadow: 0 4px 3px rgba(103, 59, 183, 0.1);
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 50px;
      height: 50px;

      cursor: pointer;

      background: $purple;
      border-radius: 50%;
    }

    &-item {
      .ant-form-item-explain-error {
        padding: 0 16px;
      }
    }

    &-input {
      padding: 16px;

      width: max-content;

      font-size: 15px;
      line-height: 18px;

      border: none;
    }
  }

  &-create-coll {
    min-width: 340px;

    &__item {
      & + & {
        margin-top: 35px;
      }

      &-name {
        margin-bottom: 60px;
      }

      &-short {
        margin-bottom: 60px;
      }
    }

    &__upload {
      margin-bottom: 25px;

      display: flex;

      &-img {
        margin-right: 15px;

        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

        width: 105px;
        height: 105px;

        background: #e2e2e2;
        border-radius: 50%;

        img {
          max-width: 100%;
        }
      }

      p {
        margin-bottom: 10px;

        max-width: 220px;
      }
    }
  }

  &-create {
    display: flex;

    &__content {
      width: 100%;
      max-width: 600px;
    }

    &__upload {
      &-title {
        margin-bottom: 20px;
      }
    }

    &__box {
      margin-top: 25px;
    }

    &__switch {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & + & {
        margin-top: 30px;
      }
    }

    &__item {
      margin-top: 30px;

      &-text {
        margin-top: 16px;

        display: flex;
        align-items: center;

        & + & {
          margin-top: 5px;
        }
      }

      &-eth {
        margin: 0 12px;
        padding: 8px 12px;

        border-radius: 30px;
      }
    }

    &__choose {
      margin: 60px 0;
    }

    &__field {
      margin-bottom: 40px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;

      .input__field {
        width: 100%;
      }

      .input__field + .input__field {
        margin-top: 0;
        margin-left: 40px;
        @include b('mobile') {
          margin-left: 0;
        }
      }
      @include b('mobile') {
        flex-direction: column;
      }
    }

    &__card {
      position: sticky;
      top: 110px;

      margin-left: 5.208vw;

      min-width: 320px;
      height: fit-content;
      @include b('mobile') {
        display: none;
      }
    }

    &__submit-btn {
      @include b('mobile') {
        margin: 0 auto;
      }
    }
  }
}

.ant-form-item-control {
  position: relative;

  .ant-form-item-explain {
    position: absolute;
    top: calc(100% + 10px);

    & * {
      font-weight: 700;
    }
  }
}
