.select {
  .ant-select-selector {
    color: #673bb7 !important;
    border-color: #673bb7 !important;
    border-radius: 16px !important;
    opacity: 1 !important;
  }

  .ant-select-arrow {
    color: #673bb7;
  }
}
