@import 'src/styles/mixins/main';

.swiper {
  &-navigation {
    position: absolute;
    z-index: 10;
    top: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;

    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    background: #fafafa;
    border-radius: 30px;
    box-shadow: 0 4px 3px rgba(103, 59, 183, 0.1);

    transform: translateY(-50%);

    &-next {
      right: -21px;
    }

    &-prev {
      left: -21px;

      img {
        transform: rotate(180deg);
      }
    }

    @include b('mobile') {
      top: -50px;

      &-next {
        right: 0;
      }

      &-prev {
        right: 56px;
        left: auto;
      }
    }
  }

  &-button {
    &-disabled {
      display: none;
    }
  }

  &-container {
    .swiper-slide {
      margin-right: 20px !important;
    }

    @include b('mobile') {
      max-width: 320px;

      .swiper-slide {
        margin-right: 0 !important;
      }
    }
  }
}
