@import '../../styles/vars';
@import 'src/styles/mixins/media';

.token {
  padding: 20px 0;

  &__preview {
    &-img {
      margin: 0 auto;

      display: block;

      max-width: 100%;
      min-height: 50vh;
      max-height: 70vh;
    }
  }

  &__title {
    margin: 13px 0 16px;
    display: flex;
    justify-content: space-between;
  }

  &__bids {
    padding: 20px 0 0 0;
    border-top: rgb(230, 230, 230) 1px solid;
    margin-top: 20px;
    &-amount {
      margin-left: 64px;
    }
    & + & {
      border-bottom: rgb(230, 230, 230) 1px solid;
      padding-bottom: 20px;
    }
  }

  &__share {
    margin-left: 35px;
  }

  &__btns {
    margin: 20px 0;
    padding: 20px 0 30px;

    display: flex;
    align-items: center;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &-container {
      display: flex;
      align-items: center;
      @include b('mobile') {
        margin: 0 10px;

        width: 100%;

        &:last-child {
          margin-top: 20px;
        }

        .btn {
          width: 100%;
          max-width: 180px;
        }
      }
    }
    @include b('mobile') {
      padding-top: 0;

      border-top: none;
      flex-wrap: wrap;
    }

    &-item {
      & + & {
        margin-left: 20px;
      }
    }

    &-text {
      margin-left: 40px;
      @include b('mobile') {
        margin-left: 10px;
      }

      & + & {
        margin-left: 15px;
      }
    }
  }

  &__info {
    margin-top: 20px;
    &-text {
      margin-bottom: 20px;

      & + & {
        margin-bottom: 0;
      }
    }

    &-btn {
      margin-top: 20px;
    }
  }

  &__price {
    display: flex;
    align-items: center;

    &-gray {
      margin-left: 15px;

      display: flex;
      align-items: center;

      &::before {
        content: '';

        margin-right: 15px;

        display: block;

        width: 6px;
        height: 6px;

        background: $gray;
        border-radius: 50%;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include b('mobile') {
      .token__wrapper {
        display: none;
      }
    }
  }

  &__content {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;

    &-left {
      width: 100%;
      max-width: 860px;
      padding-right: 10px;
    }

    &-right {
      width: 100%;
      max-width: 420px;

      padding-left: 10px;
      .ant-tabs {
        margin-top: 14px;
        &-content {
          .u-mini {
            &__text > * {
              max-width: 243px;
            }
          }
        }
      }
    }

    @include b('mobile') {
      flex-direction: column;
    }
  }

  &__tags {
    display: flex;
    align-items: center;

    &-item {
      padding: 9px 12px;

      & + & {
        margin-left: 10px;
      }
    }
  }
}
