.m-upload-cover {
  &__content {
    padding: 40px 20px 20px;

    background: #fff;
  }

  &__text {
    margin: 20px 0;

    max-width: 400px;
  }

  &__upload-btn {
    display: flex;
    justify-content: center;
  }
}
