.like {
  display: flex;
  align-items: center;

  &__item {
    height: 17px;

    cursor: pointer;

    &.active {
      svg {
        path {
          fill: url(#gradient);
          stroke: url(#gradient);
        }
      }
    }

    &-big {
      height: 21px;
    }
  }

  &__count {
    margin-left: 10px;
  }
}
