.h1 {
  font-size: 50px;
  line-height: 61px;

  &-md {
    font-size: 40px;
    line-height: 49px;
  }

  &-xl {
    font-size: 55px;
    line-height: 67px;
  }
}

.text {
  font-size: 14px;
  line-height: 17px;

  &-mm {
    font-size: 10px;
    line-height: 12px;
  }

  &-sm {
    font-size: 12px;
    line-height: 15px;
  }

  &-smd {
    font-size: 16px;
    line-height: 20px;
  }

  &-md {
    font-size: 18px;
    line-height: 22px;
  }

  &-lg {
    font-size: 22px;
    line-height: 27px;
  }

  &-xl {
    font-size: 25px;
    line-height: 30px;
  }

  &-xxl {
    font-size: 40px;
    line-height: 49px;
  }

  &-bold {
    font-family: MB;
  }

  &-black {
    color: #000;
  }

  &-pointer {
    cursor: pointer;
  }

  &-gray {
    color: $gray;

    &-l {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &-purple {
    color: $purple;
  }

  &-purple-l {
    color: $purple-l;
  }

  &-purple-d {
    color: $purple-d;
  }

  &-pink-l {
    color: $pink-l;
  }

  &-upper {
    text-transform: uppercase;
  }

  &-white {
    color: #fff;
  }

  &-center {
    text-align: center;
  }

  &-line-through {
    text-decoration: line-through;
  }

  &-grad {
    width: fit-content;

    background: $purple-grad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-blue-grad {
    width: fit-content;

    background: $blue-grad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
