@import './reset';
@import './fonts';
@import './vars';
@import './typography';
@import '~antd/dist/antd.css';
@import './components/index.scss';
@import 'mixins/media';

html,
body {
  margin: 0;

  height: max-content;

  font-family: Montserrat, sans-serif;
  font-weight: 400;

  color: #000;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.dds {
  display: flex;
  flex-direction: column;

  height: 100%;

  font-size: 14px;
  line-height: 17px;
}

main {
  flex-grow: 2;
}

.row {
  margin: 0 auto;
  padding: 0 10px;

  max-width: 1360px;

}

a {
  &:hover {
    color: $purple-hover;
  }
}

.hidden {
  display: none !important;
}
