@import 'src/styles/mixins/media';

.home {
  &__preview {
    position: relative;

    padding: 7.639vw 0;

    background-size: cover;

    &-title {
      margin: 0 auto 5px;
    }

    &-btn {
      margin: 20px auto 0;
    }

    &-owner {
      position: absolute;
      right: 20px;
      bottom: 50px;
      @include b('mobile') {
        display: none;
      }
    }

    &-search {
      position: absolute;
      left: 50%;
      bottom: -30px;

      width: 69.444vw;

      transform: translateX(-50%);
      @include b('mobile') {
        padding: 0 15px;

        width: 100%;
      }
    }

    @include b('mobile') {
      padding: 75px 0;
    }
  }

  &__hot {
    padding: 90px 0 100px;
    @include b('mobile') {
      padding: 76px 0 30px;
    }
  }

  &__top {
    padding-bottom: 95px;
    @include b('mobile') {
      padding-bottom: 30px;
    }
  }

  &__collections {
    padding: 80px 0 90px;

    background: #f8f8f8;

    @include b('mobile') {
      padding: 30px 0;
    }
  }

  &__explore {
    padding-top: 100px;
    @include b('mobile') {
      padding-top: 30px;
    }
  }
}
