@import '../../../styles/vars';
@import 'src/styles/mixins/media';

.footer {
  padding: 45px 0;

  background: #fafafa;

  &__sub {
    &-title {
      margin-bottom: 15px;
    }
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    cursor: pointer;

    background: $purple;
    border-radius: 50%;

    img {
      transform: rotate(-90deg);
    }
    @include b('mobile') {
      display: none;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &-item {
      height: fit-content;
      & + & {
        margin-left: 20px;
      }

      display: block;
      @include b('mobile') {
        margin-top: 25px;
      }
    }

    &-box {
      & + & {
        margin-left: 9.028vw;
      }
    }

    @include b('mobile') {
      margin-top: 40px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;

    & + & {
      margin-top: 40px;
    }

    &-bottom {
      align-items: flex-end;
      @include b('mobile') {
        align-items: center;
      }
    }
    @include b('mobile') {
      flex-direction: column;
    }
  }

  &__copyright {
    margin-top: 28px;

    font-size: 16px;
    line-height: 20px;

    color: #000;

    opacity: 0.3;
    @include b('mobile') {
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    &-item {
      height: fit-content;

      & + & {
        margin-left: 30px;
      }

      svg {
        path {
          transition: 0.3s;
        }
        @include b('mobile') {
          width: 22px;
          height: 22px;
        }
      }

      &:hover {
        svg {
          path {
            fill: $purple;
          }
        }
      }
    }
  }
  @include b('mobile') {
    padding: 40px 0 20px;

    &__logo {
      order: 1;

      img {
        display: none;
      }
    }
  }
}
