@import 'src/styles/mixins/media';

.c-create {
  padding: 90px 0 130px;

  &__content {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 690px;
  }

  &__text {
    max-width: 445px;
    @include b('mobile') {
      max-width: 350px;
    }
  }

  &__subtitle {
    margin-top: 30px;

    max-width: 445px;
  }

  &__wrapper {
    margin: 60px 0 50px;

    display: flex;
    align-items: center;

    width: 100%;
    @include b('mobile') {
      justify-content: space-evenly;
    }
  }

  &__item {
    padding: 84px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background: #fafafa;
    border-radius: 30px;

    &-text {
      margin-top: 20px;
    }

    & + & {
      margin-left: 50px;
      padding-top: 68px;
      @include b('mobile') {
        margin-left: 40px;
      }
    }

    @include b('mobile') {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      max-width: 150px;
      min-height: 216px;

      &:first-child {
        padding: 42px 39px 21px 39px;
      }

      &:last-child {
        padding: 31px 27px 21px 27px;
      }
    }
  }
}
