@import '../../../styles/vars';

.u-preview {
  margin-left: 8px;

  display: flex;
  align-items: center;

  min-width: max-content;

  border: 1px solid $purple;
  border-radius: 16px;

  &__text {
    margin-right: 7px;
    padding: 9px 0;
    padding-left: 15px;

    cursor: pointer;
  }

  &__img {
    margin-top: -2px;
    margin-right: -4px;
    margin-bottom: -2px;

    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;

    cursor: pointer;

    border-radius: 50%;

    img {
      width: 100%;
    }
  }
}
