.cover {
  position: relative;

  height: 20vw;

  background-size: cover;

  &__edit-btn {
    position: absolute !important;
    right: 50px;
    bottom: -17px;

    /*

    @include b('mobile') {
      top: -180px;
      right: 0;
    }
    */
  }
}
