.m-create-coll {
  &__content {
    position: relative;

    padding: 40px 20px 20px;

    background: white;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;

    cursor: pointer;
  }
}
